{% render 'partials/head.liquid', title: 'index' %}
<section>
  <h1>{{ exhibit.title }}</h1>
  <p>{{ exhibit.short_description }}</p>
</section>
<section>
  {% assign sortedSections = sectionsList | sort: 'start_year' %}
  {% for section in sortedSections %}
    <article>
      <h2>{{ section.start_year }}</h2>
      <p>{{ section.title }}</p>
      <div class="divider"></div>
      <p>
        Zonder de Leidse fles, een vroege “batterij” om elektriciteit op te slaan, zou de Grote Elektriseermachine niet
        mogelijk zijn geweest. Dit is de technische basis.
      </p>
      <img src="https://fdnd-agency.directus.app/assets/{{ section.cover }}" alt="">
    </article>
  {% endfor %}
</section>

{% render 'partials/footer.liquid' %}
