{% render 'partials/head.liquid', title: 'index' %}
<section>
  <h1>{{ exhibit.title }}</h1>
  <p>{{ exhibit.short_description }}</p>
</section>
<section class="timeline" id="timeline">
  {% assign sortedSections = sectionsList | sort: 'start_year' %}
  {% for section in sortedSections %}
    <article class="timeline-card" id="{{ section.id }}" style="--scroll-amount: calc({{ forloop.rindex }} - 1)">
      <h2 class="year">{{ section.start_year }}</h2>
      <p class="title">{{ section.title }}</p>
      <p class="summary">
        {{ section.summary }}
      </p>
      <a href="/detail/{{ section.slug }}">Meer informatie</a>
      {% comment %} <img src="https://fdnd-agency.directus.app/assets/{{ section.cover }}?format=webp" alt=""> {% endcomment %}
      <img
        src="https://fdnd-agency.directus.app/assets/{{ section.cover }}"
        loading="lazy"
      >
    </article>
  {% endfor %}
  <div class="navigation">
    <a href="#timeline" class="backToTop" title="Back to Top">↑</a>
    <a href="#quiz" class="backToQuiz" title="Back to Quiz">↓</a>
  </div>
</section>
<section class="quiz" id="quiz">
  {% for question in quiz %}
    <article
      id="{{question.id}}"
    >
      <h2>Vraag {{ forloop.index }}</h2>
      <a href="#{{ question.exhibit_section }}">Hint in tijdlijn ↑ </a>
      <p>{{ question.question }}</p>

      <form
        action="/#{{ question.id }}"
        method="POST"
      >
        <input name="question" value="{{ question.id }}" type="hidden">
        {% for answer in question.options %}
          <button
            type="submit"
            name="isCorrect"
            value="{% if answer.is_correct %}yes{% else %}{{answer.key}}{% endif %}"
            class="
              {% if quizState[question.id] and quizState[question.id].isCorrect == 'yes' and answer.is_correct %}
              answered correct
              {% elsif quizState[question.id] and quizState[question.id].isCorrect == answer.key %}
              answered wrong
              {% elsif quizState[question.id] %}
              answered
              {% endif %}
            "
            {% if quizState[question.id] %}
              disabled
            {% endif %}
          >
            <span>
              {{ answer.key }}
            </span>
            {{ answer.answer }}
            <span class="loader"></span>
          </button>
        {% endfor %}
        {% if quizState[question.id] and quizState[question.id].isCorrect == 'yes' %}
          <p class="explanation">{{ question.explanation_correct }}</p>
        {% elsif quizState[question.id] and quizState[question.id].isCorrect != 'yes' %}
          <p class="explanation">{{ question.explanation_wrong }}</p>
        {% endif %}
      </form>
    </article>
  {% endfor %}
</section>
{% render 'partials/footer.liquid' %}
